.search {
    border: 1px solid grey;
    border-radius: 5px;
    height: 20px;
    width: 25%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #eeeaea;
    position:relative;
  }